@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@font-face {
  font-family: "TradeGothic LT Extended";
  src: url("./fonts/TradeGothicLTStdExtended.otf");
  font-style: normal;
  font-weight: 700;
}