.personal-acc {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    transition: margin-top ease 0.4s;
    &_active {
        margin-top: 562px;
    }
    &__container {
        padding: 0 30px;
        padding: 48px 30px 0 30px;
    }
    &__top-background {
        margin: 0 auto;
        max-width: 1232px;
        position: relative;
        img {
            width: 100%;
            height: 350px;
            object-fit: cover;
            border-radius: 12px;
        }
    }
    &__new-cover {
        overflow: hidden;
        font-family: $font-family;
        font-size: 14px;
        font-weight: 500;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15.5px 16px;
        border-radius: 4px;
        background-color: var(--Mint-Green, #8dd3bb);
        position: absolute;
        right: 26px;
        bottom: 26px;
        width: 180px;
        height: 48px;
        transition: all ease 0.2s;
        cursor: pointer;

        span {
            position: absolute;
            transform: translateX(0);
            transition: transform ease 0.2s, color ease 0.2s;
        }
        input {
            display: none;
        }
        &:hover {
            background-color: #8ff0ce;
            span {
                transform: translateX(10px);
                color: white;
            }
            div {
                left: 16px;
            }
        }
        &:focus {
            background-color: #8ff0ce;
            span {
                transform: translateX(10px);
                color: white;
            }
            div {
                left: 16px;
            }
        }
        div {
            transition: all ease 0.2s;
            position: absolute;
            left: -20px;
            transform: translate(0, 1px);
        }
    }

    &__profile-data {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        right: 50%;

        transform: translate(50%, -50%);
    }
    &__photo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 163px;
        height: 163px;
        border-radius: 163px;
        border: 4px solid var(--Slamon, #ff8682);
        background: lightgray -39.626px 0px / 187.747% 125.556% no-repeat;
        box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
        &__wrapper {
            position: relative;
            max-width: 160px;
            max-height: 160px;
            width: 100%;
            height: 100%;
        }
        img {
            border-radius: 160px;
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: relative;
        }
        &_change {
            cursor: pointer;
            border-radius: 45px;
            width: 44px;
            height: 44px;
            padding: 10px;
            position: absolute;
            z-index: 10;
            background-color: #ff8682;
            bottom: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__name {
        font-size: 24px;
        font-family: $font-family;
        margin-top: 24px;
        position: relative;
        font-weight: 600;
        color: #121;
        text-align: center;
    }
    &__email {
        text-align: center;
        margin-top: 8px;
        font-size: 16px;
        font-family: $font-family;
        font-weight: 400;
        opacity: 0.75;
    }
    &__tabs-container {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    &__tabs {
        border-radius: 12px;
        background: var(--Neutrals, #fff);
        box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 151px;
        max-width: 1232px;
        width: 100%;
        list-style: none;
        gap: 24px;
        padding: 16px 24px;
    }
    &__tab {
        width: 100%;
        font-size: 16px;
        font-family: $font-family;
        font-weight: 600;
        display: flex;
        align-items: center;
        height: 100%;
        cursor: pointer;
        position: relative;
    }
    &__tab-underscore {
        background-color: #8dd3bb;
        background-color: transparent;
        opacity: 0;
        width: 100%;
        height: 4px;
        position: absolute;
        bottom: -16px;
        left: -6px;
        scale: 0.1;
        transition: all ease 0.3s;
        &_active {
            scale: 1;
            opacity: 1;
            background-color: #8dd3bb;
        }
    }
    &__spread {
        width: 1px;
        height: 48px;
        background-color: #d7e2ee;
    }
    &__tab-info-wrapper {
        display: flex;
        justify-content: center;
        // margin-bottom: 224px;
    }
    &__account {
        font-family: $font-family;
        max-width: 1232px;
        width: 100%;
        h1 {
            font-size: 32px;
            font-weight: 500;
            margin-bottom: 16px;
        }
        &-info {
            padding: 32px 24px;
            border-radius: 16px;
            background: var(--Neutrals, #fff);
            box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
        }
    }
    &__list {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:not(:last-child) {
            margin-bottom: 32px;
        }
        li:first-child {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            width: 100%;
        }
        li:last-child {
            button {
                width: 140px;
                overflow: hidden;
                transition: all ease 0.2s;
                svg {
                    transition: left ease 0.2s;
                    position: absolute;
                    left: -30px;
                }
                position: relative;
                background-color: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;
                padding: 16px 32px;
                border-radius: 4px;
                border: 1px solid var(--Mint-Green, #8dd3bb);
                cursor: pointer;
                &:hover {
                    color: white;
                    background-color: #8dd3bb;
                    padding-left: 48px;
                    border-color: transparent;
                    svg {
                        left: 32px;
                        path {
                            fill: white;
                        }
                    }
                }
            }
        }
    }
    &__change {
        font-family: $font-family;
        font-weight: 500;
        &-massage {
            position: absolute;
            font-size: 23px;
            bottom: 145px;
            left: 50%;
            transform: translate(-50%);
            z-index: 100;
            background-color: #8ff0ce;
            opacity: 0;
            scale: 0.1;
            transition: opacity ease 0.4s, scale ease 0.4s;
            color: white;
            padding: 20px 16px;
            border-radius: 8px; 
            box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
            text-align: center;
            &_active{
                opacity: 1;
                scale: 1;
            }
        }
        &-error{
            position: absolute;
            font-size: 23px;
            bottom: 145px;
            left: 50%;
            transform: translate(-50%);
            z-index: 100;
            background-color: #ff8682;
            opacity: 1;
            scale:1;
            transition: opacity ease 0.4s, scale ease 0.4s;
            color: white;
            padding: 20px 16px;
            border-radius: 8px; 
            box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
            text-align: center;
            &_active{
                opacity: 1;
                scale: 1;
            }
        }
    }
    &__info-label {
        font-family: $font-family;
        font-size: 16px;
        font-weight: 400;
        color: #121;
        opacity: 0.75;
    }
    &__account-input {
        width: 100%;
        cursor: pointer;
        background-color: transparent;
        font-family: $font-family;
        font-size: 20px;
        font-weight: 600;
        margin-top: 8px;
        &:disabled {
            color: #121;
        }
    }
    .date {
        width: 150px;
    }
    &__currently-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        width: 100%;
    }
    &_currently {
        text-align: center;
        font-size: 32px;
        color: #d1c280;
        font-family: $font-family;
    }

    @media screen and (max-width: 767px) {
        &__container {
            padding: 24px 24px 0 24px;
        }
    }
    @media screen and (max-width: 648px) {
        &__new-cover {
            transform: translate(-50%, -50%);
            top: 50%;
            right: 50%;
            left: 50%;
            bottom: 50%;
        }
    }
    @media screen and (max-width: 495px) {
        &__list {
            li:last-child {
                button {
                    transition: all ease 0.4s;
                    width: auto;
                    padding: 10px;
                    border-radius: 8px;
                    background-color: #8dd3bb;
                    svg {
                        position: initial;
                        path {
                            fill: white;
                        }
                    }
                    &:hover {
                        border-color: #8dd3bb;
                        background-color: transparent;
                        padding: 10px;
                        svg {
                            path {
                                fill: #121;
                            }
                        }
                    }
                }
            }
        }
        &__change {
            display: none;
        }
    }
    @media screen and (max-width: 450px) {
        &__container {
            padding-right: 12px;
            padding-left: 12px;
        }
    }
    @media screen and (max-width: 385px) {
        &__list {
            flex-direction: column;
            li:first-child {
                width: 100%;
            }
            li:last-child {
                width: 100%;
                button {
                    margin-top: 8px;
                    padding: 12px 24px;
                    transition: all ease 0.4s;
                    width: 100%;
                    border-radius: 4px;
                    background-color: transparent;
                    svg {
                        position: absolute;
                        path {
                            fill: white;
                        }
                    }
                    &:hover {
                        color: white;
                        background-color: #8dd3bb;
                        padding: 12px 24px;
                        border-color: transparent;
                        svg {
                            left: 110px;
                            path {
                                fill: white;
                            }
                        }
                    }
                }
            }
        }
        &__change {
            display: block;
        }
    }
    @media screen and (max-width: 370px) {
        &__tabs {
            gap: 15px;
        }
    }
    @media screen and (max-width: 334px) {
        &__tabs {
            gap: 6px;
        }
    }
}
