.header-default {
    padding: 30px 30px 0 30px;
    margin-bottom: 0;
    transition: margin-bottom ease 0.4s,box-shadow ease 0.4s, background-color ease 0.4s;
    background-color: white;
    box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
    padding-bottom: 25px;
    &_active {
        margin-bottom: 562px;
        background-color: #FAFBFC;
        box-shadow: none;
    }
    &__container {
        position: relative;
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
    }
    &__nav {
        width: 100%;
        position: relative;
        z-index: 11;
        // top: 24px;
        // left: 32px;
        display: flex;
        justify-content: space-between;
        transition: padding ease 0.4s;
        &_active{
            padding: 24px 32px 0 32px;
        }
    }
    &-burger {
        display: none;
    }
    &-burger-menu {
        display: none;
    }
    &-logo__wrapper {
        border-radius: 8px;
        transition: all ease 0.4s;
        cursor: pointer;
        svg {
            path:not(:nth-child(6)):not(:nth-child(7)) {
                transition: fill ease 0.4s;
            }
        }
        &:hover {
            padding: 26px 40px;
            background-color: #346b5a;
            svg {
                transition: fill ease 0.4s;
                path:not(:nth-child(6)):not(:nth-child(7)) {
                    fill: white;
                }
            }
        }
        .svg-logo {
            &_active {
                path:not(:nth-child(6)):not(:nth-child(7)) {
                    fill: white;
                }
                path {
                    fill: #fe8c8c;
                }
            }
        }
    }
    &-find-flights {
        display: flex;
        align-items: center;
        margin-right: 32px;
        font-family: $font-family;
        font-weight: 600;
        @include adaptive-font(14, 12);
        color: #121;
        transition: all ease 0.4s;
        border-radius: 8px;

        li:first-child {
            margin-right: 4px;
            svg {
                path {
                    fill: #121;
                }
            }
        }

        &:hover {
            padding-left: 26px;
            padding-right: 26px;
            background-color: #8dd3bb;
        }
    }
    &-find-stays {
        display: flex;
        align-items: center;
        font-family: $font-family;
        font-weight: 600;
        @include adaptive-font(14, 12);
        color: #121;
        transition: all ease 0.4s;
        border-radius: 8px;

        li:first-child {
            margin-right: 4px;
            svg {
                path {
                    fill: #121;
                }
            }
        }

        &:hover {
            padding-left: 26px;
            padding-right: 26px;
            background-color: #8dd3bb;
        }
    }
    &__favorites {
        display: flex;
        justify-content: space-between;
        max-width: 260px;
        width: 100%;
        gap: 16px;
        overflow: hidden;
        &_left {
            display: flex;
            align-items: center;
            font-family: $font-family;
            font-size: 14px;
            font-weight: 600;
            color: #121;
            li:first-child {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 8px;
                font-size: 14px;
                font-family: $font-family;
                font-weight: 600;
                svg {
                    margin-right: 3px;
                    path {
                        fill: #121;
                        transition: fill ease 1s,scale ease 0.2s;
                    }
                    &:hover {
                        path {
                            scale: 1.1;
                            fill: #fe8c8c;
                        }
                    }
                }
            }
            li:last-child{

                color: #121;
                transition: color ease 0.4s;
                
            }
            &_active {
                transition: padding ease 0.4s,border-radius ease 0.4s, background-color ease 0.4s;
                li:first-child {
                    gap: 3px;
                    
                    svg {
                        path {
                            transition: fill ease 0.4s,scale ease 0.2s;
                            fill: white;
                        }
                    }
                    span {
                        transition: color ease 0.4s;
                        color: white;
                        font-size: 23px;
                    }
                }
                &:hover{
                    padding: 24px 15% 24px 15%;
                    background-color: white;
                    border-radius: 8px;
                    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
                    li:first-child{
                        
                            
                        svg {
                            path {
                                fill: #fe8c8c;
                            }
                        }
                    }
                    li:last-child{
                        color: darkgray;
                    }
                }
                &:focus {
                        background-color: white;
                    padding: 24px 15% 24px 15%;
                    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
                    width: auto;
                    color: darkgrey;
    
                    svg {
                        path {
                            fill: #fe8c8c;
                        }
                    }
                }
                
            }
            li:last-child{
                color: white;
                font-size: 23px;
                font-family: $font-family;
                font-weight: 600;
            }
            &__line-through {
                position: relative;
                width: 2px;
                background-color: #121;
                height: 17px;
                margin-left: 16px;
            }
        }
        &_right {
            height: 45px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 4px;
            // max-width: 120px;
            // width: 100%;
            // overflow: hidden;
            li:first-child {
                max-width: 45px;
                max-height: 45px;
                width: 100%;
                height: 100%;
                img {
                    border-radius: 45px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            li:last-child {
                max-width: 104px;
                width: 100%;
                color: #121;
                white-space: nowrap;
                overflow: hidden;
                padding-bottom: 1px;
                font-size: 14px;
                font-weight: 600;
                font-family: $font-family;
            }
        }
    }
    &-right-side {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &-login__wrapper {
            transition: all ease 0.4s;
            border-radius: 8px;
            padding: 12px 0;
            cursor: pointer;

            &:hover {
                padding: 12px 26px;
                background-color: #8dd3bb;
            }
        }
        &-logOut__text {
            color: white;
            @include adaptive-font(14, 12);
            font-family: $font-family;
            font-weight: 600;
            max-width: 216px;
            // overflow: hidden;
            cursor: pointer;
            transition: all ease 0.4s;
            display: flex;
            padding-top: 15.5px;
            padding-bottom: 15.5px;
            border-radius: 8px;

            &:hover {
                padding-left: 26px;
                padding-right: 26px;
                background-color: #8dd3bb;
            }

            &_active {
                padding-top: 0;
                padding-bottom: 1px;
                max-width: 550px;
                margin-bottom: 16px;
                font-size: 23px;
                transition: all ease 0.4s;
                &:focus {
                    padding: 24px 15% 24px 15%;
                    background: #fe8c8c;
                }
                &:hover {
                    padding: 24px 15% 24px 15%;
                    background-color: white;
                    color: darkgray;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        padding: 24px 24px 24px 24px;
    }   
    @media screen and (max-width: 648px) {
        &-right-side {
            display: none;
        }
        &-burger-menu {
            
            display: block;
            padding: 24px;
            opacity: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 600px;
            top: 0;
            position: absolute;
            transform: scaleY(0);
            transform-origin: 0, 0;
            border-radius: 24px;
            transition: all ease 0.4s;
            background-color: rgb(232, 217, 100);
            z-index: 10;
            &_active {
                transform: scaleY(1);
                opacity: 1;
            }
        }
        .header-find-flights {
            margin-bottom: 16px;
            margin-right: 0;
            font-size: 23px;
            border-radius: 8px;

            svg {
                transition: scale ease 0.2s;
                &:hover{
                    scale: 1.2;
                }
                path {
                    transition: fill ease 0.4s;
                }
            }
            &:hover {
                padding: 24px 15% 24px 15%;
                background-color: white;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
                color: darkgrey;
                svg {
                    path {
                        fill: #fcc951;
                    }
                }
            }
            &:focus {
                background-color: white;
                padding: 24px 15% 24px 15%;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
                width: auto;
                color: darkgrey;

                svg {
                    path {
                        fill: #fcc951;
                    }
                }
            }
        }
        .header-find-stays {
            margin-bottom: 16px;
            font-size: 23px;
            border-radius: 8px;

            svg {
                transition: scale ease 0.2s;
                &:hover{
                    scale: 1.2;
                }
                path {
                    transition: fill ease 0.4s;
                }
            }
            &:hover {
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
                padding: 24px 15% 24px 15%;
                background-color: white;
                color: darkgrey;
                svg {
                    path {
                        fill: rgb(189, 135, 255);
                    }
                }
            }

            &:focus {
                background-color: white;
                padding: 24px 15% 24px 15%;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
                width: auto;
                color: darkgrey;

                svg {
                    path {
                        fill: rgb(163, 117, 218);
                    }
                }
            }
        }

        .header-signUp__wrapper {
            margin-left: 0;
            margin-top: 16px;
            transition: all ease 0.4s;
            background-color: transparent;
            padding: 0;

            a {
                color: white;
            }

            &:focus {
                background-color: white;
                padding: 24px 15% 24px 15%;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
                width: auto;

                a {
                    color: darkgrey;
                }
            }
        }

        .header-login {
            font-size: 23px;
            border-radius: 8px;
            svg {
                path {
                    transition: fill ease 0.4s;
                }
            }
            &:hover {
                padding: 24px 100px 24px 100px;
                background-color: white;
                color: darkgrey;
                svg {
                    path {
                        fill: darkgray;
                    }
                }
            }
            &:focus {
                background-color: white;
                padding: 24px 100px 24px 100px;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
                width: auto;
                color: darkgrey;
            }
        }
        .header-signUp {
            font-size: 23px;
            color: white;
            svg {
                path {
                    transition: fill ease 0.4s;
                }
            }
            &:hover {
                padding: 24px 100px 24px 100px;
                background-color: white;
                color: darkgrey;
                svg {
                    path {
                        fill: darkgray;
                    }
                }
            }
            &:focus {
                background-color: white;
                padding: 24px 100px 24px 100px;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
                width: auto;
                color: darkgrey;
            }
        }

        &-burger {
            cursor: pointer;
            display: block;
            width: 28px;
            height: 24px;
            position: relative;
            z-index: 11;
            display: flex;
            align-items: center;

            span {
                width: 100%;
                height: 2px;
                background-color: #123;
                display: block;
                transition: transform ease 0.4s;
                &::before,
                &::after {
                    
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: #121;
                }

                &::before {
                    transition: transform ease 0.4s;
                    top: 0px;
                }

                &::after {
                    transition: transform ease 0.4s;
                    bottom: 0px;
                }
            }
            &_active {
                span {
                    background-color: transparent;
                    transform: rotate(180deg);

                    &::before {
                        background-color: #fe8c8c;
                        transform: rotate(45deg);
                    }

                    &::after {
                        background-color: #fe8c8c;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
    @media screen and (max-width: 450px) {
        padding: 24px 12px 0 12px;
    }
}
